@media (max-width:1024px) {
    .account-inner {
        height: auto;
    }
    .account-title h1 {
        font-size: 32px;
        margin-bottom: 21px;
    }
    .artist-btn {
        padding: 16px 17.3px;
    }
    .fetch-btn {
        width: 49%;
    }
    .accept-label {
        font-size: 15px;
        font-weight: 400;
        color: #fff;
    }
    .account-title {
        width: 50%;
    }
    .artist-inner {
        width: 44%;
    }
}

@media (max-width:991px) {
    .account-title {
        width: 100%;
    }
    .artist-inner {
        width: auto;
    }
}
@media (max-width:500px) {
    .account-title h1 {
        font-size: 23px;
        margin-bottom: 7px;
    }
    .spotify-account-inner h1 {
        font-size: 24px;
        margin-top: 7px;
        line-height: 29px;
    }
    .artist-btn {
        font-size: 11px;
    }
    .artist-title h6 {
        font-size: 13px;
        line-height: 24px;
    }
    .fetch-btn {
        width: 87%;
    }
}